<footer class="footer">
	<small>
		<a href="http://www.xazaj.com">xazaj's blog</a>
		by xazaj
	</small>
	<nav>
		<ul>
			<li><%= link_to "关于", about_path %></li>
			<li><%= link_to "联系我们", contact_path %></li>
		</ul>
	</nav>
</footer>